.events-container {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.item {
  min-height: 15rem;
  min-width: 25rem;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer; 
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.inner-carousel {
  display: flex;
}

@media (max-width: 768px) {
  .events-container {
    margin: 0 1rem; 
    padding: 0; 
  }

  .item {
    min-height: 15rem;
    min-width: 20rem;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
  }

}



.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem;
}

.scroll-button.left {
  left: 0.5rem;
}

.scroll-button.right {
  right: 0.5rem;
}