.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #004aad;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.hero-image.slide-right {
  transform: translateX(100%);
  animation: slide-right 0.5s ease-in-out forwards;
}

.hero-image.slide-left {
  transform: translateX(-100%);
  animation: slide-left 0.5s ease-in-out forwards;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-img-sm {
  display: none;
}

.hero-arrows {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
}

.hero-arrow-left,
.hero-arrow-right {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: #f8f8fc;
  cursor: pointer;
}

.hero-dashes {
  display: flex;
  position: absolute;
  left: 80px;
  bottom: 20px;
}

.hero-dashes.center {
  left: 50%;
  transform: translateX(-50%);
}

.hero-dash {
  font-size: 2rem;
  color: #cfcfcfd5;
  margin-right: 10px;
  cursor: pointer;
}

.hero-dash.active {
  color: #ffffff;
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
  }

  .hero-img {
    display: none;
  }

  .hero-img-sm {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-dashes {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
  }
}

@media (max-width: 768px) and (min-width: 435px) {
  .hero-img-sm {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 3000px) and (min-width: 768px) {
  .hero {
    position: relative;
    width: 100%;
    height: 60%;
    background-color: #004aad;
    overflow: hidden;
  }
}